package components

css SearchBarStyle() {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    width: 500px;
    height: 50px;



}

css HeaderBarStyle() {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    gap: 300px; 
    padding: 15px 20px;


}

css HeaderTitleStyle(){
    font-size: 1rem;
    font-weight: 800;
    background: linear-gradient(90deg, #ff00cc, #3333ff, #ff00cc);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-flow 3s linear infinite;
     

    
}

css HeaderSpacerStyle(){
    flex: 1;
}

templ SearchBar() {
    <header>
        <div class={"headerBar",  HeaderBarStyle()}>
            <div class={"header-title", HeaderTitleStyle()}><h1>RavelPin</h1></div>
            <div class="search-container">
            <form class="searchBar" id="form" action="/link" method="post" hx-boost="true">
                <input class={"SearchBar", SearchBarStyle()} name="pinlink" id="pinlink" type="url" placeholder="Pintrest post:">
            </form>
            </div>
        </div>
        <div class={"header-spacer", HeaderSpacerStyle()}></div>
    </header>
}

templ HomePage(){
    <head><script src="/assets/js/htmx.min.js"></script></head>
    
    @SearchBar()
    
     
}

